<html lang="en">
<head>
    <style>
        html { background: white; }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="metroui/css/metro-all.min.css"/>
    <title>WorldPort</title>
</head>
<body>
    <div id="app" style="margin: 0 5px;">
        <table>
            <tr>
                <td>Server:</td>
                <td><input data-role="input" v-model="server" :disabled="status != 0"/></td>
            </tr>
            <tr>
                <td>Local IP:</td>
                <td><input data-role="input" v-model="localIP" :disabled="status != 0"/></td>
            </tr>
            <tr>
                <td>Local port:</td>
                <td><input data-role="input" v-model="localPort" :disabled="status != 0"/></td>
            </tr>
            <tr>
                <td>External port:</td>
                <td>
                    <input data-role="input" v-model="externalPort" :disabled="status != 0"/>
                    <label>
                        <input data-role="checkbox" type="checkbox" v-model="force" :disabled="status != 0"/>
                        Force
                    </label>
                </td>
            </tr>
            <tr>
                <td>Login:</td>
                <td><input data-role="input" v-model="credsLogin" :disabled="status != 0 || authMethod != 'credentials'"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input data-role="input" type="password" v-model="credsPassword" :disabled="status != 0 || authMethod != 'credentials'"/></td>
            </tr>
        </table>
        <div>
            <button :disabled="!server || isNaN(localPort) || localPort < 1 || localPort > 65535 || (externalPort && (isNaN(externalPort) || externalPort > 55535))"
                @click="connect">{{ status == 0 ? 'Connect' : 'Disconnect' }}</button>
                <button @click="showAbout">About</button>
                <button v-if="allowDevTools" @click="console.log('>devtools')">DevTools</button>
        </div>
        <hr/>

        <div>
            Status: {{ displayStatus }}
        </div>
        <div v-if="lastError && status != 3">
            Last error: {{ lastError }}
        </div>
        <div v-if="status == 3">
            Session ID: {{ sessionID }}
        </div>
        <div v-if="status == 3">
            Exposing on <b style="user-select: all;">{{server.split(':')[0]}}:{{ assignedExternalPort }}</b>
        </div>
        <div v-if="status == 3">
            {{ sockets }} sockets open
        </div>
        <div v-if="status == 3">
            <div>
                <span :style="{ color: receiving ? 'green' : 'lightgrey' }">\/</span>
                Received: {{ (received / 1024 / 1024).toFixed(1) }} MB
            </div>
            <div>
                <span :style="{ color: sending ? 'red' : 'lightgrey' }">/\</span>
                Sent: {{ (sent / 1024 / 1024).toFixed(1) }} MB
            </div>
        </div>
        <div v-if="status == 3">
            Bandwidth limit: {{ bandwidthLimit ? bandwidthLimit + ' Mbps' : 'unlimited' }}
        </div>
        <div v-if="status == 3">
            AliveCheck interval: {{ aliveCheckInterval }} ms
        </div>
        <div v-if="status == 3">
            AliveCheck timeout: {{ aliveCheckTimeout }} ms
        </div>
    </div>
    
    <!-- <script src="metroui/js/metro.min.js"></script> -->
    <script src="vue.js"></script>
    <script src="index.js"></script>
</body>
</html>